html{
  font-family: 'Finger Paint', cursive;
  font-size: 10px;
}

.body{
  background-color: aquamarine;
  height: 100vh;
  width: 100vw;
}

.slider{
  width: 50vw;
  overflow: hidden;
  display: flex;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: pink;
  padding: 0 1vw 0 1vw;
  flex-wrap: wrap;
}

.items{
  width: 200vw;
  display: flex;
  height: 50vh;
  gap: 1vw;
}

.item{
  display: flex;
  width: 50vw;
  flex-direction: column;
  /* height: 100%; */
  transition: 0.5s;
}

input{
  position: absolute;
  visibility: hidden;
}

img{
  height: 80%;
  width: 50vw;
}

.footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list{
  height: 4vw;
}

.text{
  text-align: center;
  font-size: 3rem;
  line-height: 150%;
  /* padding: 1vw 0; */
  height: 4vw;
  display: flex;
  align-items: center;
}

.controls{
  display: flex;
  gap: 0.5vw;
}

label{
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  background-color: aquamarine;
  opacity: .4;
  cursor: pointer;
  transition: 0.7s ease;
}

label:hover{
  transform: scale(1.1);
  opacity: 1;
}

#s1:checked, #s2:checked, #s3:checked, #s4:checked{
  opacity: 1;
}

#s1:checked ~ .slide1{
  margin-left: 0;
}

#s2:checked ~ .slide1{
  margin-left: -51vw;
}

#s3:checked ~ .slide1{
  margin-left: -102vw;
}

#s4:checked ~ .slide1{
  margin-left: -153vw;
}